@{
    Script.Require("jQuery");
    Style.Include("wishlists.nwazet-commerce.css", "wishlists.nwazet-commerce.min.css");

    var productId = (int)Model.ProductId;
    var creationShapes = (IEnumerable<dynamic>)Model.CreationShapes;
}

@using (Html.BeginFormAntiForgeryPost(
    Url.Action("CreateWishList", "WishLists", new { area = "Nwazet.Commerce" }),
    FormMethod.Post,
    new { enctype = "multipart/form-data" }
    )) {
    <a href="#create-new-wishlist-open-modal">@T("New wish list")</a>

    <div id="create-new-wishlist-open-modal" class="wishListModalDialog">
        <div>
            <a href="#close" title="Close" class="closeWishListModalDialog">X</a>
            <label for="new_wishlist_title">@T("Name of the wish list.")</label>
            <input class="text large" id="new_wishlist_title" name="new_wishlist_title" type="text" value="">
            <input type="hidden" id="productid" name="productid" value="@productId" />

            @foreach (var cShape in creationShapes) {
                @Display(cShape)
            }

            @if (productId != 0 && Model.AttributeShapes != null) {
                <div id="add-to-wishlist-attributes" style="display:none;">
                    @*Attributes will be copied in this div once the button is clicked*@
                    @*@foreach (var productAttributeShape in Model.AttributeShapes) {
                        @Display(productAttributeShape)
                    }*@
                </div>
            }

            <div style="float:right;">
                <input id="button-create-wishlist"type="submit" value="@T("Create WishList")" />
            </div>

        </div>
    </div>
}
@if (productId != 0) {
    using (Script.Foot()) {
        <script type="text/javascript">
            jQuery(function ($) {
                $('#button-create-wishlist').click(function () {
                    $('#add-to-cart-attributes').clone().appendTo('#add-to-wishlist-attributes');
                    //jQuery does not clone selected values: https://stackoverflow.com/a/743871/2669614
                    var selects = $('#add-to-cart-attributes').find("select");
                    $(selects).each(function (i) {
                        var select = this;
                        $('#add-to-wishlist-attributes').find("select").eq(i).val($(select).val());
                    });
                });
            });
        </script>
    }
}
