@using Nwazet.Commerce.Models
@using Orchard.ContentManagement
@{
    var items = (IList<dynamic>)Model.ShopItems;
    var subtotal = (decimal) Model.Subtotal;
}
@if (!items.Any())
{
    <p>@T("You don't have any items in your shopping cart.")</p>
}
else { 
    <article class="shoppingcart">
            <table>
                <thead>
                    <tr>
                        <td colspan="2">@T("Article")</td>
                        <td class="numeric">@T("Unit Price")</td>
                        <td class="numeric">@T("Quantity")</td>
                        <td class="numeric">@T("Total Price")</td>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < items.Count; i++) {
                        var item = items[i];
                        var propertyNamePrefix = string.Format("items[{0}]", i);
                        var product = (IProduct)item.Product;
                        var contentItem = (IContent) item.Product;
                        var title = item.Title
                            + (item.ProductAttributes == null
                            ? "" : " (" + string.Join(", ", item.ProductAttributes.Values) + ")");
                        string imageUrl = (item.ProductImage != null ? item.ProductImage.Url : null);
                        var quantity = (int)item.Quantity;
                        var unitPrice = (double)item.DiscountedPrice;
                        var totalPrice = quantity*unitPrice;
                        <tr>
                            @if (imageUrl != null) {
                                <td>
                                    <a href="@Url.ItemDisplayUrl(contentItem)" class="product-image-link"><img src="@Href(imageUrl)" alt="@title" class="product-image"/></a>
                                </td><td>
                                    <a href="@Url.ItemDisplayUrl(contentItem)" class="product-name">@title</a>
                                </td>
                            }
                            else {
                                <td colspan="2"><a href="@Url.ItemDisplayUrl(contentItem)">@title</a></td>
                            }
                            <td class="numeric">@unitPrice.ToString("c")</td>
                            <td class="numeric">
                                @if (item.ProductAttributes != null) {
                                    var attrIndex = 0;
                                    foreach (KeyValuePair<int, string> attribute in item.ProductAttributes) {
                                        var attributeNamePrefix = propertyNamePrefix + string.Format(".AttributeIdsToValues[{0}]", attrIndex);
                                        attrIndex++;
                                    }
                                }
                            </td>
                            <td class="numeric">@totalPrice.ToString("c")</td>
                        </tr>
                    }
            
                </tbody>
                <tfoot>
                    <tr class="total">
                        <td class="numeric label" colspan="4">@T("Subtotal:")</td>
                        <td class="numeric">@subtotal.ToString("c")</td>
                    </tr>
                </tfoot>
            </table>
        }
    </article>
}