@model Nwazet.Commerce.ViewModels.StripeShippingViewModel
@helper AddressForm(string prefix) {
    <label for="@Html.Id(prefix + ".Honorific")">@T("Title")</label>
    <input id="@Html.Id(prefix + ".Honorific")" type="text" name="@Html.Name(prefix + ".Honorific")" class="honorific input-mini"/>
    <div class="hint">@T("Title or honorific, e.g. Mr., Mrs., Dr., San, etc.")</div>
    <label for="@Html.Id(prefix + ".FirstName")">@T("First Name")</label>
    <input id="@Html.Id(prefix + ".FirstName")" type="text" name="@Html.Name(prefix + ".FirstName")" class="input-large"/>
    <div class="hint">@T("Please include middle name or initial as appropriate.")</div>
    <label for="@Html.Id(prefix + ".LastName")">@T("Last Name")</label>
    <input id="@Html.Id(prefix + ".LastName")" type="text" name="@Html.Name(prefix + ".LastName")" class="input-large"/>
    <div class="hint">@T("Please include middle name or initial as appropriate.")</div>
    <label for="@Html.Id(prefix + ".Company")">@T("Company")</label>
    <input id="@Html.Id(prefix + ".Company")" type="text" name="@Html.Name(prefix + ".Company")" class="input-large"/>
    <label for="@Html.Id(prefix + ".Address1")">@T("Address")</label>
    <input id="@Html.Id(prefix + ".Address1")" type="text" name="@Html.Name(prefix + ".Address1")" class="input-xxlarge"/>
    <input id="@Html.Id(prefix + ".Address2")" type="text" name="@Html.Name(prefix + ".Address2")" class="input-xxlarge"/>
    <label for="@Html.Id(prefix + ".City")">@T("City")</label>
    <input id="@Html.Id(prefix + ".City")" type="text" name="@Html.Name(prefix + ".City")" class="input-large"/>
    <label for="@Html.Id(prefix + ".Province")">@T("State, province, prefecture, republic or region")</label>
    <input id="@Html.Id("shippingAddress.Province")" type="text" name="@Html.Name("shippingAddress.Province")" class="input-mini"/>
    <div class="hint">@T("Please specify the state, province, prefecture, republic or region code as appropriate. For example, 'WA' for the state of Washington in the United States.")</div>
    <label for="@Html.Id("shippingAddress.PostalCode")">@T("Postal or ZIP code")</label>
    <input id="@Html.Id("shippingAddress.PostalCode")" type="text" name="@Html.Name("shippingAddress.PostalCode")" class="input-small"/>
    <label for="@Html.Id("shippingAddress.Country")">@T("Country")</label>
    <input id="@Html.Id("shippingAddress.Country")" type="text" name="@Html.Name("shippingAddress.Country")" class="input-medium"/>
    <div class="hint">@T("You may leave this blank for the United States.")</div>
}
@{
    var title = Layout.Title = T("Checkout with Stripe - 1: Shipping & Billing");
    Script.Require("jQuery");
    using (Script.Foot()) {
        <script type="text/javascript">
            $(function() {
                $("#toggle-billing-address")
                    .change(function () {
                        $(".billing-address").toggle($(this).val());
                    });
            });
        </script>
    }
}
<h1>@title</h1>

@using (Html.BeginFormAntiForgeryPost(Url.Action("Confirm", "Stripe", new {area = "Nwazet.Commerce"}), FormMethod.Post, new {@id="address-form"})) {
    <fieldset>
        <legend>@T("Shipping Address")</legend>
        @AddressForm("shippingAddress")
    </fieldset>
    <fieldset class="toggle-billing">
        <input id="toggle-billing-address" type="checkbox" checked="checked"/>
        <label for="toggle-billing-address" class="for-checkbox">@T("Bill me at the shipping address.")</label>
    </fieldset>
    <fieldset class="billing-address">
        <legend>@T("Billing Address")</legend>
        @AddressForm("billingAddress")
    </fieldset>
    <label for="@Html.Id("specialInstructions")">@T("Special Instructions")</label>
    <textarea id="@Html.Id("specialInstructions")" name="@Html.Name("shippingAddress.Country")" rows="6" cols="80" class="input-xxlarge"></textarea>
    <input type="hidden" name="stripeToken" value="@Model.Token"/>
    <div class="actions">
        <button class="previous-button">@T("< Back")</button>
        <button class="submit-button">@T("Next >")</button>
    </div>
}