@using Nwazet.Commerce.Models
@using System.Linq;
@{
    var attributeFieldName = Html.Name("productattributes");
    var attributes = ((IEnumerable<ProductAttributePart>)Model.ProductAttributes).ToList();
}
@if (attributes != null && attributes.Any()) {
    foreach (ProductAttributePart attribute in attributes) {
        if (!string.IsNullOrEmpty(attribute.DisplayName)) {
            <label for="@attribute.Id" class="product-attribute-label">@attribute.DisplayName</label>
        }
        <select name="@(attributeFieldName + ".a" + attribute.Id)" id="@attribute.Id" class="product-attribute">
            @foreach (var val in attribute.AttributeValues) {
                var priceAdjustment = val.PriceAdjustment != 0 ? "(" + (val.PriceAdjustment < 0 ? "-" : "+") + Math.Abs(val.PriceAdjustment).ToString("C") + ")" : "";
                <option value="@val.Text">@val.Text @priceAdjustment</option>
            }
        </select>
    }
}
