@{
    var outOfStockMessage = (string) Model.OutOfStockMessage;
}
<br/>
@T("Price"):
@if (Model.DiscountedPrice != Model.Price) {
    <b class="inactive-price" style="text-decoration:line-through" title="@T("Was ${0}", Model.Price)">$@Model.Price</b>
    <b class="discounted-price" title="@T("Now ${0}", Model.DiscountedPrice)">$@Model.DiscountedPrice</b>
    <span class="discount-comment">@Model.DiscountComment</span>
}
else {
    <b>$@Model.Price</b>
}<br />
@Model.Sku<br/>
@if (Model.Inventory != null && (int)Model.Inventory <= 0) {
    <div class="out-of-stock">
    @if (String.IsNullOrWhiteSpace(outOfStockMessage)) {
        @T("This product is currently out of stock.")
    }
    else {
        @outOfStockMessage
    }
    </div>
}