@model Nwazet.Commerce.ViewModels.InventoryBySKUSiteSettingsPartViewModel
@{ 
    string aId = "VerifyInventories_" + Guid.NewGuid().ToString();
    string divId = "BadProducts_" + Guid.NewGuid().ToString();
}

<fieldset>
    <span class="description">@T("The inventory of products with the same SKU is synchronized. To disable this, disable the \"InventoryBySKU\" feature")</span>
    @if (Model.InventoriesNeedSynch) {
        <div>
            @T("Issues in inventory synchronization were found. Please, verify the following items then run the analysis again.")
            <ul>
                @foreach (var prod in Model.BadProducts) {
                    <li>
                        @Html.ItemEditLinkWithReturnUrl(Html.ItemDisplayText(prod.ContentItem).ToHtmlString(), prod.ContentItem)
                    </li>
                }
            </ul>
        </div>
    }
    else {
        <div>@T("No issue has been detected in inventory synchronization.")</div>
    }
    @Html.ActionLink(T("Verify inventories.").Text, "VerifyInventories", new { controller = "InventoryBySKUSettingsAdmin", area = "Nwazet.Commerce"})
    

</fieldset>