@{ 
    string aId = "VerifyInventories_" + Guid.NewGuid().ToString();
    string divId = "BadProducts_" + Guid.NewGuid().ToString();
}

<fieldset>
    <span class="description">@T("The inventory of products with the same SKU is synchronized. To disable this, disable the \"InventoryBySKU\" feature")</span>
    <a id="@aId" href="#"
       data-url="@Url.Action("VerifyInventories", "InventoryBySKUSettingsAdmin", new {area = "Nwazet.Commerce"})">@T("Verify Inventories")</a>
    <div id="@divId" style="display: none;" class="description"></div>

</fieldset>

@using (Script.Foot()) {
    <script type="text/javascript">
        jQuery(function ($) {
            $("#@aId").click(function () {
                $.post($(this).data("url"), {
                    __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val()
                }, function (data) {
                    var myDiv = $("#@divId");
                    var notifyString = "";
                    if (data.Result == "TRUE") {
                        notifyString = "@T("There were synchronization issues for the inventories of the following items:")";
                    } else {
                        notifyString = "@T("All Inventories are Synchronized.")";
                    }
                    myDiv[0].innerText += notifyString;
                    myDiv.show();
                });
                return false;
            });
        });
    </script>
}