@model Nwazet.Commerce.ViewModels.BundleViewModel
@{
    Style.Include("bundle.nwazet-commerce-admin.css");
    var productIndex = 0;
}
<fieldset><label>@T("Products in this bundle")</label>
    <ul class="bundle">
    @foreach(var productEntry in Model.Products) {
        <li>
            <input type="hidden" value="@productEntry.ProductId"
                name="@Html.FieldNameFor(m => m.Products[productIndex].ProductId)"/>
            <label for="@Html.FieldNameFor(m => m.Products[productIndex].IsChecked)">
                <input type="checkbox" value="true"
                       name="@Html.FieldNameFor(m => m.Products[productIndex].IsChecked)"
                       id="@Html.FieldNameFor(m => m.Products[productIndex].IsChecked)"
                    @if (productEntry.IsChecked) {<text>checked="checked"</text>}/>
                <a href="@(Url.ItemEditUrl(productEntry.Product))">@productEntry.DisplayText</a>
            </label>
            @{productIndex++;}
        </li>
    }
    </ul>
</fieldset>