@model Nwazet.Commerce.ViewModels.TerritoryPartViewModel


<div>
    @if (Model.AvailableTerritoryInternalRecords.Any()) {
        <fieldset>
            <label for="@Html.FieldIdFor(m => m.SelectedRecordId)" class="required">
                @T("Territory identity")
            </label>
            @Html.DropDownListFor(m => m.SelectedRecordId, Model.ListRecords())
            <span for="@Html.FieldIdFor(m => m.SelectedRecordId)" class="hint forcheckbox">
                @T("Select the unique territory identifier.")
            </span>
        </fieldset>
    }
</div>
